<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="#"><span class="label"><i class="fab fa-twitter"></i></span></a></li>
            <li><a href="#"><span class="label"><i class="fab fa-facebook"></i></span></a></li>
            <li><a href="#"><span class="label"><i class="fab fa-instagram"></i></span></a></li>
            <li><a href="#"><span class="label"><i class="fa fa-envelope"></i></span></a></li>
        </ul>
    </div>
    <div class="copyright">
        &copy; JustWatchIt. All rights reserved. Dassaev Novela 2019.
    </div>
</footer>